body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for even distribution */
  grid-column-gap: 2px; /* Horizontal gap between buttons */
  grid-row-gap: 10px;  
  padding: 20px;
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
  background: url('../figs/recording.jpg') no-repeat center center fixed;
  background-size: cover;  /* Cover the entire background */
  
  /* Grid centering */
  justify-content: center; /* Center the grid horizontally */
  align-content: center;   /* Center the grid vertically */
  justify-items: center;   /* Center the items within each grid cell horizontally */
  align-items: center;     /* Center the items within each grid cell vertically */
}

.list-button {
  padding: 5px; /* Adjust padding for smaller buttons */
  font-size: 16px; /* Adjust font size if needed */
  width: 100px;  /* New button width */
  height: 100px; /* New button height to keep it square */
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.list-button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
}
