.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.signup-button,
.back-to-login-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%; /* Ensure the buttons take full width */
  text-align: center;
}

/* Sign up button specific styles */
.signup-button {
  background-color: #4CAF50; /* Green */
  color: white;
  margin-bottom: 10px; /* Added margin to separate buttons */
}

.signup-button:hover {
  background-color: #45a049; /* Darker green */
}

/* Back to login button specific styles */
.back-to-login-button {
  background-color: #f44336; /* Red */
  color: white;
}

.back-to-login-button:hover {
  background-color: #d32f2f; /* Darker red */
}
